* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    margin: 0 8rem;
}

#header_hug {
    background-color: #b4a7d5;
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 1rem;
    font-size: x-large;
}
#header_hug img {
    vertical-align: text-top;
    margin-right: 5px;
}
#barra_buscar {
    font-size: medium;
    display: flex;
}
#barrita {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: solid;
}
#btn_buscar {
    border: solid;
    box-shadow: 0.2rem 0.2rem 0.1rem;
}
header a {
    color: black;
    text-decoration: none;
    font-weight:bold;
}

#header_house {
    background-color: white;
    flex: 0.7;
    padding: 0rem 1rem;
    border-bottom: 0.2rem solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#header_house img {
    height: 55%;
    margin-right: 8px;
}

main {
    flex: 4;
    margin: 0.6rem 8rem;
    display: flex;
}
#main_personas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5rem;
    border-radius: 1rem;
    height: 1rem;
    width: 55rem;
}
#persona1, #persona2, #persona3 {
    display: flex;
    margin: 0.7rem 0;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 1rem;
}

.imagenes {
    height: 9rem;
}
.personas_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
    text-align:left;
    margin-left: 1rem;
}
.btn_personas {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2rem 3rem;
    justify-content: space-evenly;
    align-items: center;
}
.btn_enviar {
    background-color: #b4a7d5;
    color: white;
    padding: 0.1rem 0.4rem;
    font-weight: bold;
    border: 0.2rem solid black;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}


#main_columna {
    background-color:#b4a7d5;
    margin-left: auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 580px;
    font-size: xx-large;
}
#main_columna span {
    color: white;
    font-weight: bold;
}
#main_columna p:last-child {
    text-decoration: underline;
    text-align: center;
    margin: 0.2rem;
}



#cookies {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: solid;
    background-color: white;
    margin: 0.6rem 8rem;
    position: fixed;
    top: 38rem;
}
#cookies img {
    width: 4rem;
    height: 4rem;
}
#btn_aceptar {
    display: flex;
    margin: 1.5rem;
    background-color: #b4a7d5;
    color: white;
    padding: 0.1rem 0.4rem;
    font-weight: bold;
    border: 0.2rem solid black;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}